.popular-features {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  gap: 20px;

  &__navigate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 4px;

    .icon {
      font-size: 28px;
    }
  }

  &__text {
    font-size: 11px;
    text-wrap: nowrap;
    font-family: "Manrope Bold";
  }
}
