@import "../../../../../assets/sass/mixins";

.header {
  z-index: var(--z-index-header);
  background-color: #fff;
  position: relative;
}

.nav-menu-container {
  position: relative;
}

.mobile-menu {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: var(--z-index-header);
  background: red;
  width: 100%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  z-index: var(--z-index-header);
  background: red;
  width: 100%;
  top: 0;
  max-height: 100vh;
  overflow: auto;

  &.ng-animating,
  &.ng-animate-queued {
    overflow: hidden;
  }
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--bs-tertiary);
  color: var(--bs-white);
  padding: 20px 0;

  li {
    a {
      color: var(--bs-white);
      padding: 8px 20px;
      cursor: pointer;

      &:hover {
        background-color: var(--bs-tertiary-hover-bg);
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s background-color 0.3s ease-in-out;
  visibility: hidden;
}

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.logo {
  .logo-image {
    max-width: 166px;
  }
}

/*********************************/
.nav-toggle {
  position: relative;
  padding: 10px;
  background: transparent;
  border: none;
}

.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle [class*='bar-'] {
  background: #E8AD1A;
  display: block;
  transform: rotate(0deg);
  transition: .2s ease all;
  transition: 0.2s ease all;
  height: 2px;
  width: 17px;
  margin-bottom: 5px;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  transform: rotate(45deg);
  transform-origin: 1px 5px;
}

.opened .bar-mid {
  opacity: 0;
}

.opened .bar-bot {
  transform: rotate(-45deg);
  transform-origin: 0px -3px;
}




/*******************************/

.nav-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  .btn-icon {
    background: none;
    border: none;
    padding: 0;
    font-size: 25px;
    line-height: 25px;
  }


}

.phone-list-menu {
  color: #fff;
  margin-top: 18px;
  border-radius: 10px;
  background-color: var(--bs-secondary);
  padding: 0 15px;
  width: 100%;

  .cdk-menu-item {
    padding: 9px 0px;

    &:first-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    p {
      @include new-16-regular;
      margin: 0;
    }

    a {
      @include new-20-regular;

      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      gap: 5px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
