<div class="subscribe-section">
  <section class="container">
    <div class="subscribe-section__wrapper">
      <div class="subscribe-section__content">
        <h2>Подпишитесь на наш Telegram</h2>
        <div class="subscribe-section__text">Получайте все спецпредложения и эксклюзивные акции первым</div>
      </div>

      <div class="subscribe-section__image">
        <span class="icon icon-tg"></span>
        <div appRotateOnScroll>
          <a href="#">
            <svg width="217" height="217">
              <defs>
                <path id="circlePath" d="M 108, 110 m -85.2, 0 a 85.2,85.2 0 1,1 170.4,0 a 85.2,85.2 0 1,1 -170.4,0" />
              </defs>
              <text font-size="21.5px" fill="white">
                <textPath href="#circlePath" startOffset="0">
                  перейти в Telegram канал перейти в Telegram канал
                </textPath>
              </text>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
