<app-section-wrapper [hasHeader]="false">
  <ng-container content>
    <div class="elite-format-container">
      <div class="elite-format-text">
        <div class="elite-format-subtitle">ALLTOUR ELITE FORMAT</div>
        <h2>Бронируйте отели премиального класса</h2>
        <div class="elite-format-description">Получайте услуги высочайшего уровня по самым выгодным партнерским
          тарифам</div>
        <button class="btn btn-secondary">Перейти к премиальным отелям</button>
      </div>
      <div class="elite-format-preview">
        <div class="elite-format-image">
          <img src="assets/images/gallery/rixos.jpg" alt="Rixos image">
        </div>
        <div class="elite-format-logo">
          <img src="assets/images/rixos-logo.svg" alt="Rixos logo">
        </div>
      </div>

    </div>
  </ng-container>
</app-section-wrapper>
