<div class="countries">
  <a href="#"><img src="assets/images/flags/eg.png" alt="Египет">Египет</a>
  <a href="#"><img src="assets/images/flags/tr.png" alt="Турция">Турция</a>
  <a href="#"><img src="assets/images/flags/th.png" alt="Таиланд">Таиланд</a>
  <a href="#"><img src="assets/images/flags/vn.png" alt="Вьетнам">Вьетнам</a>
  <a href="#"><img src="assets/images/flags/it.png" alt="Италия">Италия</a>
  <a href="#"><img src="assets/images/flags/mv.png" alt="Мальдивы">Мальдивы</a>
  <a href="#"><img src="assets/images/flags/ae.png" alt="ОАЭ">ОАЭ</a>
  <a href="#"><img src="assets/images/flags/sc.png" alt="Сейшелы">Сейшелы</a>
  <a href="#"><img src="assets/images/flags/do.png" alt="Доминикана">Доминикана</a>
  <a href="#"><img src="assets/images/flags/cy.png" alt="Кипр">Кипр</a>
  <a href="#"><img src="assets/images/flags/cu.png" alt="Куба">Куба</a>
  <a href="#"><img src="assets/images/flags/mu.png" alt="Маврикий">Маврикий</a>
  <a href="#"><img src="assets/images/flags/gr.png" alt="Греция">Греция</a>
  <a href="#"><img src="assets/images/flags/es.png" alt="Испания">Испания</a>
</div>
